In [36]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [37]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arlington,US,2020-10-30 18:16:08,32.74,-97.11,64.40,31,1,3.36
1,1,Upernavik,GL,2020-10-30 18:20:00,72.79,-56.15,21.15,96,99,4.14
2,2,Port Lincoln,AU,2020-10-30 18:20:01,-34.73,135.87,56.34,84,93,11.56
3,3,Jamestown,US,2020-10-30 18:16:31,42.10,-79.24,37.99,93,90,5.82
4,4,Hermanus,ZA,2020-10-30 18:20:01,-34.42,19.23,54.00,76,0,11.97

In [38]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [45]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [46]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [48]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Rikitea,PF,2020-10-30 18:20:03,-23.12,-134.97,75.49,69,62,8.01
11,11,Puerto Ayora,EC,2020-10-30 18:20:04,-0.74,-90.35,82.40,61,20,8.05
30,30,Sao Jose Da Coroa Grande,BR,2020-10-30 18:20:10,-8.90,-35.15,81.68,72,77,10.96
37,37,Sao Joao Da Barra,BR,2020-10-30 18:20:12,-21.64,-41.05,80.60,83,75,18.34
40,40,Itarema,BR,2020-10-30 18:20:13,-2.92,-39.92,85.44,57,38,18.05
44,44,Catuday,PH,2020-10-30 18:20:14,16.29,119.81,79.86,81,62,5.68
45,45,Jiwani,PK,2020-10-30 18:20:14,25.05,61.74,75.25,49,0,8.08
57,57,Butaritari,KI,2020-10-30 18:20:38,3.07,172.79,81.66,78,99,18.34
58,58,Bull Savanna,JM,2020-10-30 18:20:38,17.89,-77.59,83.35,65,75,4.41
60,60,Beira,MZ,2020-10-30 18:17:38,-19.84,34.84,78.80,83,20,11.41

In [54]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp    Lat     Lng Hotel Name
8                    Rikitea      PF     75.49 -23.12 -134.97
11              Puerto Ayora      EC     82.40  -0.74  -90.35
30  Sao Jose Da Coroa Grande      BR     81.68  -8.90  -35.15
37         Sao Joao Da Barra      BR     80.60 -21.64  -41.05
40                   Itarema      BR     85.44  -2.92  -39.92
44                   Catuday      PH     79.86  16.29  119.81
45                    Jiwani      PK     75.25  25.05   61.74
57                Butaritari      KI     81.66   3.07  172.79
58              Bull Savanna      JM     83.35  17.89  -77.59
60                     Beira      MZ     78.80 -19.84   34.84

In [55]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [59]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [60]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Rikitea,PF,75.49,-23.12,-134.97,Pension Maro'i
11,Puerto Ayora,EC,82.40,-0.74,-90.35,Finch Bay Galapagos Hotel
30,Sao Jose Da Coroa Grande,BR,81.68,-8.90,-35.15,Crôa Mares Hotel
37,Sao Joao Da Barra,BR,80.60,-21.64,-41.05,Pousada Porto De Canoas
40,Itarema,BR,85.44,-2.92,-39.92,Windvillage
44,Catuday,PH,79.86,16.29,119.81,GResort
45,Jiwani,PK,75.25,25.05,61.74,Al Mumtaz Transport Jiwani
57,Butaritari,KI,81.66,3.07,172.79,Isles Sunset Lodge
58,Bull Savanna,JM,83.35,17.89,-77.59,Big Red's
60,Beira,MZ,78.80,-19.84,34.84,Beira Terrace Hotel

In [63]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [66]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [67]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))